# Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=computer
PORT=5903

# Internal service URLs
COLLECTOR_SERVICE_URL=http://localhost:5904

# Database URIs
MONGO_URI=mongodb://localhost:27017/governify
REDIS_URI=redis://localhost:6379

# JWT configuration
SERVICE_AUTHENTICATION_ENABLED=false
JWT_SECRET=governify_secret_key

# Redis settings
REDIS_ENABLED=false
REDIS_MAX_RETRIES=5
REDIS_RETRY_DELAY_MS=2000
REDIS_SLOW_RECONNECTION_MAX_RETRIES=10
REDIS_SLOW_RECONNECTION_STRATEGY=false
REDIS_RETRY_SLOW_DELAY_MS=10000

# Fetch Result polling configuration
FETCH_RESULT_POLLING_MAX_ATTEMPTS=300
FETCH_RESULT_POLLING_INTERVAL_MS=1000